.form__group {
  position: relative;
  padding: 15px 0 0;
  margin: 10px 0;
  width: 50%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  /* border: 0; */
  border: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: rgb(100, 100, 100);
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  height: 20px;
  margin-top: 5px;
  border-radius: 5px;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 400;
  border-width: 2px;
  border-image: linear-gradient(to right, tomato, tomato);
  border-image-slice: 1;
  border-radius: 5px;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  font-weight: 500;
}

/* reset input */
.form__field:required,
.form__field:invalid {
  box-shadow: none;
}
